/* font-face Optima */
@font-face {
	font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('OPTIMA.woff') format('woff');
}
@font-face {
    font-family: 'Optima Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Italic'), url('Optima_Italic.woff') format('woff');
}
@font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('Optima Medium.woff') format('woff');
}
@font-face {
	font-family: 'Optima Bold';
	color: white;
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
}

/*CSS document*/
.hidden
{
	display: none;
}

html
{
	background: #0f161c;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

li,a,button
{
	font-size: 14px;
	letter-spacing: 0.05rem;
	text-decoration: none;
}


body
{
	font-family: 'Open Sans', sans-serif;
	background-repeat: no-repeat;
	background: #0f161c;
	background: -webkit-gradient(linear, left top, left bottom, from(#a20d23), to(#0f161c));
	background: -moz-linear-gradient(top, #a20d23, #0f161c);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbccc8');
}

header
{
	width: 90%;
	height: 18vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

p
{
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 25px;
}

.logo-container img
{
	width: 162px;
	height: 55px;
	cursor: pointer;
}

.nav-links li
{
	display: inline;
	padding: 0px 20px;
	list-style: none;
} 

/* smooth hover animation */
.nav-links li a
{
	text-transform: uppercase;
	color: white;
	transition: all 0.5s ease 0s;
}

/* animation action */
.nav-links li a:hover
{
	color: black;

}

/* hide the burger menu */
.hamburger
{
	display: none;
	cursor: pointer;
	padding: 0px;
}

.line1
{
	width: 50px;
	height: 3px;
	margin: 7px;
	background-color:white;
}

/* main container */
.main
{
	width: 90%;
	margin: 0 auto;

}

h3
{
	font-family: 'Optima';
    font-style: normal;
	font-weight: normal;
	color: white;

}


footer 
{	
    padding: 10px;
    height: 8vh;
    border-top: solid 1px black;
}

footer small 
{
    color: white;
	font-size: 14px;
	height: 10px;
    margin: 0 auto;
}

/********** MEDIA QUERIES ********** */
/*************************************/
/*************************************/
/*************************************/

@media screen and (max-width:1024px)
{



}
/*  when it's a mobile to tablet do this */
@media screen and (max-width:768px){

	body
	{
		overflow-x: hidden;
	}

	/* main container */
	.main
	{
		width: 90%;
		margin: 0 auto;

	}

	.hamburger
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.nav-links
	{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
		width: 100%;
		top: 0vh;
		right: 0px;
		height: 100vh;
		background-color: orangered;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
	}

	.nav-links li a
	{
		color: white;
		font-size: 1.8rem;
		font-weight: 200;
	}

	.nav-links li
	{
		opacity: 0px;
	}

	
	footer 
	{
		padding: 20px;
		height: 8vh;
		border-top: solid 1px black;
	}

	footer small 
	{
		color: black;
		font-size: 14px;
		margin: 0 auto;
	}
}

/*  when you click the burger  */
.nav-active
{
	-o-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

@keyframes navLinkFade
{
	from
	{
		opacity: 0;
		-o-transform: translateX(50px);
		-webkit-transform: translateX(50px);
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		transform: translateX(50px);
	}
	to
	{
		opacity: 1px;
		-o-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0px);
	}
}