/* font-face Optima */
@font-face {
	font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('OPTIMA.woff') format('woff');
}
@font-face {
    font-family: 'Optima Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Italic'), url('Optima_Italic.woff') format('woff');
}
@font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('Optima Medium.woff') format('woff');
}
@font-face {
	font-family: 'Optima Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
}

/*CSS document*/
.hidden
{
	display: none;
}

html
{
	background: #0f161c;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

li,a,button
{
	font-size: 14px;
	letter-spacing: 0.05rem;
	text-decoration: none;
}

/* #841b1d */
body
{
	color: white;
	font-family: 'Open Sans', sans-serif;
	background-repeat: no-repeat;
	background: #0f161c;
	background: -webkit-gradient(linear, left top, left bottom, from(#a20d23), to(#0f161c));
	background: -moz-linear-gradient(top, #a20d23, #0f161c);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbccc8');
}

header
{
	width: 90%;
	height: 18vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

p
{
	font-size: 1vw;
	font-weight: 300;
	line-height: 25px;
	font-kerning: initial;
}

em 
{
	font-style: italic;
	color: yellow;
}

strong 
{
	font-weight: bold;
}

.logo-container
{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo-text
{
	color: white;
}

.logo-container img
{
	width: 60px;
	height: 27.5px;
	cursor: pointer;
}

.logo-container h2
{
	font-weight: 700;
	letter-spacing: 0.09vw;
}

.nav-links li
{
	display: inline;
	padding: 0px 20px;
	list-style: none;
} 

/* smooth hover animation */
.nav-links li a
{
	text-transform: uppercase;
	color: white;
	-o-transition:  all 0.5s ease 0s;
	-moz-transition:   all 0.5s ease 0s ;
	-webkit-transition:  all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

/* animation action */
.nav-links li a:hover
{
	color: #0f161c;

}

/* hide the burger menu */
.hamburger
{
	display: none;
	cursor: pointer;
	padding: 0px;
}

.line1
{
	width: 50px;
	height: 3px;
	margin: 7px;
	background-color:white;
}

/* main container */
.main
{
	width: 90%;
	margin: 0 auto;
}


.home-container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 72vh;
}

.home-container h2
{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2.50rem;
	font-kerning: initial;
}

/* main page header */
.home-container h3
{
	font-family: 'Optima';
    font-style: normal;
	font-weight: normal;
	color: white;
	font-size: 14vw;
	text-transform: uppercase;
	letter-spacing: 2.25rem;
}

.blurb
{
	width: 60%;
	text-align: center;
	line-height: 3vh;

}

.discover-button
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover-button > div
{
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hover-pointer
{
	padding-top: 6%;
	animation: jumping 1s infinite alternate;
}

.hover-pointer img
{
	width: 8px;
	height: 10px;
}

@keyframes jumping
{
	0%{transform: translateY(0);}
	100%{transform: translateY(-10px);}
}

/* feature container */
.feature-container
{
	/* width: 90%; */
	/* height: 100vh; */
	margin: 0 auto;
}

.feature-content
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 300px;

}

.feature-content > div
{
	width: 437px;
	height: 721px;
}

.feature-content article
{
	width: 530px;
    padding: 0px 40px 0px 40px;
}

.feature-content article h3
{
	font-size: 10vw;
	margin-top: 20px;
	margin-bottom: 20px;
}

.feature-container article p
{
	margin-bottom: 20px;
}

.feature-container article p:nth-child(4)
{
	font-size: 0.75vw;
    font-weight: 300;
    letter-spacing: 1px;
} 

.feature-container article span:nth-child(1)
{
	display: block;
	font-size: 1vw;
	font-weight: 300;
} 

/* second content - rabies detail */

.rabies-details-container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 150px;
}

.rabies-feature
{

	position: relative;
	overflow: hidden;
	width: 700px;
	height: 500px;
	border-radius: 4px;
}

#dot-1
{
	position: absolute;
	top: 140px;
	left: 400px;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 60px;
	-o-transition:   all .2s ease-in-out;
	-moz-transition:   all .2s ease-in-out ;
	-webkit-transition:   all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#dot-2
{
	position: absolute;
	top: 340px;
	left: 350px;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 60px;
	-o-transition:   all .2s ease-in-out;
	-moz-transition:   all .2s ease-in-out ;
	-webkit-transition:   all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#dot-1:hover 
{
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 60px;
	transform: scale(1.2);
	transition: all .2s ease-in-out;
	-o-transition:   all .2s ease-in-out;
	-moz-transition:   all .2s ease-in-out ;
	-webkit-transition:   all .2s ease-in-out;
}

#dot-2:hover
{
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 60px;
	transform: scale(1.2);
	transition: all .2s ease-in-out;
	-o-transition:   all .2s ease-in-out;
	-moz-transition:   all .2s ease-in-out ;
	-webkit-transition:   all .2s ease-in-out;
}

.rabies-details-text
{
	width: 400px;
	height: 300px;
	padding: 0px 40px 0px 40px;
}

.rabies-details-text h3
{
	font-size: 3vw;
	margin-bottom: 20px;

}

.rabies-details-text span:nth-child(1)
{
	display: block;
	font-size: 1vw;
	font-weight: 300;
} 

#statistic-report
{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 150px;
}

#statistic-report h3
{
	font-size: 5vw;
}

.data-container
{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 150px;
}

.data-columns
{
	text-align: center;
	/* text-transform: uppercase; */
}

.data-title h4
{
	font-size: 0.90vw;
	font-weight: 300;
	margin-bottom: 40px;
	letter-spacing: 2px;
}

.data-number p
{
	font-weight: 300;
	font-size: 4vw;
	color: yellow;
}

/* last feature content section */

.rabies-details-container-2
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-top: 150px;
}

.rabies-feature-2
{
	width: 700px;
	height: 500px;
	background-color: white;
}

.rabies-details-text-2
{
	width: 400px;
	height: 600px;
	padding: 40px;
}

.rabies-details-text-2 h3
{
	font-size: 3vw;
	margin-bottom: 20px;

}

/* symptoms page */
.rabies-symptom-video
{
	width: 640px;
	height:360px;
	border-radius: 2px;
	overflow: hidden;
}

.rabies-details-text h3
{
	font-size: 3vw;
	margin-top: 20px;
}

/* global cases report */
.global-cases-report-parent
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.global-cases-report-parent h3
{
	margin-bottom: 50px;
}

.global-cases-report-parent picture
{
	width: 100%;
	height: 600px;
	border: 1px solid #fff;
	padding: 30px;
}

/* stage of infection */
.stages-of-infection-parent
{
	width: 100%;
	height: auto;
	margin-top: 150px;
}

.stages-of-infection-parent h3
{
	font-size: 3vw;
	text-align: center;
}

.stages-button
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 70px;
}

.stages-button > div
{
	cursor: pointer;
	width: 30px;
	height:30px;
	border-radius: 80px;
	background-color: white;
	-o-transition:all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.stages-button > div:hover
{
	cursor: pointer;
	width: 30px;
	height:30px;
	border-radius: 80px;
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.stages-button > div > p
{
	display: flex;
	padding: 2px;
	justify-content: center;
	font-size: 0.95vw;
	font-weight: 700;
	color: black;
}

/*  stages of infection */
.stage-infection-container
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 150px;
}

.stage-infection-text p:nth-child(2)
{
	font-size: 1.2vw;
	font-weight: 500;
	line-height: 1.50em;
	margin-top: 10px;
}

.rabies-dragged
{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

/* close button */
.rabies-dragged a img
{
	position: absolute;
	top: 5px;
	left: 12px;
	width: 40px;
	height: 40px;
}

article > div
{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.details-panel
{
	width:332px;
	height: 410px;
	padding: 25px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);


}

.rabies-close-up p:nth-child(1) 
{
	margin-bottom: 20px;
}

.dimension-line-bottom
{
	width: 65%;
	height: 1px;
	margin-top: 20px;
	margin-bottom: 60px;
	background-color: white;
}


.rabies-close-up img
{
	width: 75%;
	height: auto;
	padding-right: 30px;
	border-right: 1px solid #fff;
}

.rabies-dragged article h3
{
	font-size: 1vw;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;

}

.rabies-dragged article h4
{
	font-size: 1.35vw;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
}

.rabies-dragged article p
{
	font-size: 1.25vw;
	font-weight: 500;
	color: black;
}

.dimension-size
{
	display: block;
	width: 40%;
	height: auto;
	margin-top: 20px;
}

/* drag container */
.draggable-frame
{
	position: relative;
	width: 100%;
    height: auto;
}

#drag-item
{
	z-index: 1;
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	width: 100px;
	height: 100px;


}

#drag-item:hover
{
	border-radius: 60px; 
	border:1px solid #fff;
	border-radius: 60px; 
}


/* gif virus image */
#drag-item img
{
	overflow: hidden;
	width: 140px;
	height: auto;

}

/* drop-zone  */
#drop-area
{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 500px;
	height: 550px;
	background-color:rgba(192,192,192,0.3);
	z-index: 1;
}

/* scaling the virus */
.virus-scaling-parent
{
	margin-top: 150px;
	margin-bottom: 200px;
}

.virus-scaling-parent h3
{
	font-size: 3vw;
	text-align: center;
}

.scaling-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
}

.rabies-scale
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.rabies-scale img
{
	width: 1.25%;
	height: auto;
}

/* reb blood cell */
.red-blood-cell img
{
	width: 90%;
	height: auto;
	border-right: 1px solid #fff;
}

.red-blood-cell div
{
	padding-top: 20px;
	width: 88%;
	height: 1px;
	border-bottom: 1px solid #fff;
}

footer 
{	
    padding: 10px;
	height: 8vh;
	align-items: flex-end;
}

footer small 
{
	color: white;
	font-weight: 300;
	font-size: 1vw;
	height: 10px;
    margin: 0 auto;
}

/********** MEDIA QUERIES ********** */
/*************************************/
/*************************************/
/*************************************/

@media screen and (max-width:1024px)
{



}
/*  when it's a mobile to tablet do this */
@media screen and (max-width:768px){

	body
	{
		overflow-x: hidden;
	}

	p
	{
		font-size: 1.50vw;
		font-weight: 300;
		line-height: 25px;
		font-kerning: normal;
	}

	/* main container */
	.main
	{
		width: 90%;
		margin: 0 auto;

	}

	.hamburger
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.nav-links
	{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
		width: 100%;
		top: 0vh;
		right: 0px;
		height: 100vh;
		background-color: #0f161c;
		transform: translateX(100%);
		-o-transition:  transform 0.3s ease-in;
		-moz-transition:  transform 0.3s ease-in ;
		-webkit-transition:  transform 0.3s ease-in ;
		transition: transform 0.3s ease-in;
	}

	.nav-links li a
	{
		color: white;
		font-size: 1.8rem;
		font-weight: 200;
	}

	.nav-links li
	{
		opacity: 0px;
	}

	.home-container h2
	{
		text-transform: uppercase;
		font-weight: 100;
		font-size: 4vw;
		margin-bottom: 10px;
	}

	/* main page header */
	.home-container h3
	{
		font-family: 'Optima';
		font-style: normal;
		font-weight: normal;
		color: white;
		font-size: 18vw;
		text-transform: uppercase;
		letter-spacing: 1.25rem;
		margin-bottom: 10px;

	}

	/*  paragraph blurb */
	.blurb
	{
		font-size: 2vw;
		line-height: 3vh;
		width: 75vw;
		text-align: center;
	}
	
	/* Hide logo text in mobile */
	.logo-text
	{
		display: none;
	}

	.feature-container article span
	{
		font-size: 1.25vw;
		font-weight: 300;
		margin-bottom: 20px;
	} 

	.feature-content > div
	{
		width: 437px;
		height: 601px;
		background-color: white;
	}

	.rabies-feature {
		width: 450px;
		height: 500px;
		background-color: white;
	}

	.rabies-details-container
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 50px;
	}

	.data-container
	{
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.data-title h4
	{
		font-size: 1.25vw;
	}

	/* symptoms page */
	.rabies-symptom-image
	{
		width: 640px;
		height:320px;
	}

	.rabies-symptom-image img
	{
		border-radius: 2px;
		overflow: hidden;
	}

	.rabies-details-text 
	{
		width: 640px;
		height: auto;
		padding: 28px 0px 28px 0px;
	}

	.rabies-details-text span
	{
		font-size: 1.50vw;
		margin-top: 20px;
	}

	.rabies-details-text h3
	{
		font-size: 7vw;
		margin-top: 20px;
	}

	.stages-of-infection-parent h3
	{
		font-size: 5vw;
		text-align: center;
	}

	.stages > div > p 
	{
		display: flex;
		padding: 2px;
		justify-content: center;
		font-size: 1.75vw;
		font-weight: 700;
		color: black;
	}

	.stage-infection-text p:nth-child(1)
	{
		font-size: 1.50vw;
		font-weight: 300;
		line-height: 0.95vh;
		margin-bottom: 20px;
		letter-spacing: 0.75px;
	}

	.stage-infection-text p:nth-child(2)
	{
		font-size: 1.95vw;
		font-weight: 500;
		line-height: 0.95vh;
		margin-top: 10px;
	}


	video
	{
		max-width: 100vw;
		
	}

	.rabies-dragged
	{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

	}

	.rabies-close-up img {
		width: 75%;
		height: auto;
		margin-bottom: 50px;
	}

	.rabies-dragged article h3
	{
		font-size: 2vw;
		font-weight: 300;
		color: black;
		margin-bottom: 10px;
	}

	.rabies-dragged article h4
	{
		font-size: 2.45vw;
		font-weight: 500;
		color: black;
		margin-bottom: 10px;
	}

	.rabies-dragged article p
	{
		font-size: 2.25vw;
		font-weight: 500;
		color: black;
	}


	.scaling-container
		{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	footer 
	{
		padding: 20px;
		height: 8vh;
	}

	footer small 
	{
		color: white;
		font-weight: 300;
		font-size: 2vw;
		margin: 0 auto;
	}
}

 /* when you click the burger  */
.nav-active
{
	transform: translateX(0%);
	-o-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
}

@keyframes navLinkFade
{
	from
	{
		opacity: 0px;
		-o-transform: translateX(50px);
		-webkit-transform: translateX(50px);
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		transform: translateX(50px);
	}
	to
	{
		opacity: 1px;
		-o-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0px);
	}
}